/* 초기화 */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

/* header */
header {
    width: 100%;
    height: 10vh;
    background-color: #121212;
    border-bottom: 0.5px solid #adb5bd;
}

.header_ksc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    gap: 150px;
}

.logo>a>img {
    width: 180px;
}

.header_menu {
    color: white;
    display: flex;
    gap: 30px;
    font-size: 18px;
    white-space: nowrap;
}

.header_menu > a > p{
   color: white;
}

.header_nav {
    display: flex;
    align-items: center;
    gap: 25px;
}

.header_nav>img {
    width: 21px;
    height: 21px;
}

/* main */

.product_intro {
    width: 100%;
    height: 350px;
}

.productintromain {
    width: 1258px;
    height: 1606px;
}

.gasgun {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 150px 0;
}

.gasgun> img:active {
    content: url(./img/productmainchange.png);
}

/* footer */

.footer>img {
    width: 100%;
    height: 500px;
    display: block;
}